[Desktop Entry]
Name=Dupllicate Finder
Comment="Dupllicate Finder the hash-based duplicate finder"
Exec="/home/seanlum/Code/Python/DupllicateFinder/GuiDupllicateFinder"
Type=Application
Terminal=false
Categories=Utility
StartupNotify=false
Version=1.0
