[Desktop Entry]
Name="Dupllicate Finder"
Comment="Dupllicate Finder the hash-based duplicate finder"
Exec=/usr/local/bin/GuiDupllicateFinder
Icon=org.gnome.Terminal
Type=Application
Terminal=false
Categories=Utility
StartupNotify=yes
Version=1.0
